button.plusminus {
    padding: 0;
    width: 2em;
    height: 2em;
    font-family: monospace;
}

.strike {
    text-decoration: line-through;
}


@media screen and (max-width: 500px) {
    .priority-big {
        visibility: hidden;
    }
}

@media screen and (min-width: 500px) {
    .priority-small {
        visibility: hidden;
    }
}

.todo-title {
    border-style: none;
    
    resize: none;
}